<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="assets/style.css" type="text/css" />
    </head>
    <body>
        <h1>Hello</h1>
        <form method="POST" action="/person">
            Name: <input type="text" id="name" name="name"/>
            Age: <input type="number" id="age" name="age"/>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>